# Football Prediction using Random Forest Classifier
## By:
## I007 Bhavya Bavishi
## I012 Nehaal Choudhary
## I020 Aum Ghag
## Batch: B1

### Importing Required Libraries

In [1]:
import numpy as np
import pandas as pd

Importing Dataset

In [2]:
matches = pd.read_csv("matches1.csv", index_col=0)

In [3]:
matches.head()

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,referee,match report,notes,sh,sot,dist,pk,pkatt,season,team
0,2022-08-05,20:00,Premier League,Matchweek 1,Fri,Away,W,2.0,0.0,Crystal Palace,...,Anthony Taylor,Match Report,NaN,10.0,2.0,14.6,0.0,0.0,2023,Arsenal
1,2022-08-13,15:00,Premier League,Matchweek 2,Sat,Home,W,4.0,2.0,Leicester City,...,Darren England,Match Report,NaN,19.0,7.0,13.0,0.0,0.0,2023,Arsenal
2,2022-08-20,17:30,Premier League,Matchweek 3,Sat,Away,W,3.0,0.0,Bournemouth,...,Craig Pawson,Match Report,NaN,14.0,6.0,14.8,0.0,0.0,2023,Arsenal
3,2022-08-27,17:30,Premier League,Matchweek 4,Sat,Home,W,2.0,1.0,Fulham,...,Jarred Gillett,Match Report,NaN,22.0,8.0,15.5,0.0,0.0,2023,Arsenal
4,2022-08-31,19:30,Premier League,Matchweek 5,Wed,Home,W,2.0,1.0,Aston Villa,...,Robert Jones,Match Report,NaN,22.0,8.0,16.3,0.0,0.0,2023,Arsenal

In [4]:
matches.shape

(17308, 26)

In [5]:
matches.dtypes

date             object
time             object
comp             object
round            object
day              object
venue            object
result           object
gf              float64
ga              float64
opponent         object
xg              float64
xga             float64
poss            float64
attendance      float64
captain          object
formation        object
referee          object
match report     object
notes           float64
sh              float64
sot             float64
dist            float64
pk              float64
pkatt           float64
season            int64
team             object
dtype: object

Dropping columns which are not required

In [6]:
matches = matches.drop(['notes', 'referee', 'match report', 'formation', 'captain', 'attendance', 'poss', 'comp', 'time', 'round'], 1)
matches["date"] = pd.to_datetime(matches["date"])

In [7]:
matches['team'].value_counts()

Everton                     866
Chelsea                     866
Tottenham Hotspur           866
Arsenal                     865
Manchester United           865
Liverpool                   864
Manchester City             827
Newcastle United            789
Aston Villa                 752
West Ham United             751
Southampton                 600
Fulham                      599
Sunderland                  532
West Bromwich Albion        494
Leicester City              448
Bolton Wanderers            418
Blackburn Rovers            418
Crystal Palace              409
Stoke City                  380
Middlesbrough               380
Wolverhampton Wanderers     334
Wigan Athletic              304
Burnley                     304
Charlton Athletic           266
Norwich City                266
Swansea City                266
Watford                     266
Birmingham City             266
Portsmouth                  266
Leeds United                257
Bournemouth                 220
Brighton and Hove Albion    218
Hull City                   190
Queens Park Rangers         114
Derby County                114
Sheffield United            114
Reading                     114
Huddersfield Town            76
Ipswich Town                 76
Cardiff City                 76
Brentford                    68
Coventry City                38
Bradford City                38
Blackpool                    38
Nottingham Forest            30
Name: team, dtype: int64

Classifying W as 1 and L as 0

In [8]:
matches["target"] = (matches["result"] == "W").astype("int")

In [9]:
matches.head()

,date,day,venue,result,gf,ga,opponent,xg,xga,sh,sot,dist,pk,pkatt,season,team,target
0,2022-08-05,Fri,Away,W,2.0,0.0,Crystal Palace,1.0,1.2,10.0,2.0,14.6,0.0,0.0,2023,Arsenal,1
1,2022-08-13,Sat,Home,W,4.0,2.0,Leicester City,2.7,0.5,19.0,7.0,13.0,0.0,0.0,2023,Arsenal,1
2,2022-08-20,Sat,Away,W,3.0,0.0,Bournemouth,1.3,0.3,14.0,6.0,14.8,0.0,0.0,2023,Arsenal,1
3,2022-08-27,Sat,Home,W,2.0,1.0,Fulham,2.6,0.8,22.0,8.0,15.5,0.0,0.0,2023,Arsenal,1
4,2022-08-31,Wed,Home,W,2.0,1.0,Aston Villa,2.4,0.4,22.0,8.0,16.3,0.0,0.0,2023,Arsenal,1

Adding new numeric columns as to fit in the model

In [10]:
matches["venue_code"] = matches["venue"].astype("category").cat.codes

In [11]:
matches["opp_code"] = matches["opponent"].astype("category").cat.codes

In [12]:
matches["day_code"] = matches["date"].dt.dayofweek

In [13]:
matches

,date,day,venue,result,gf,ga,opponent,xg,xga,sh,sot,dist,pk,pkatt,season,team,target,venue_code,opp_code,day_code
0,2022-08-05,Fri,Away,W,2.0,0.0,Crystal Palace,1.0,1.2,10.0,2.0,14.6,0.0,0.0,2023,Arsenal,1,0,15,4
1,2022-08-13,Sat,Home,W,4.0,2.0,Leicester City,2.7,0.5,19.0,7.0,13.0,0.0,0.0,2023,Arsenal,1,1,23,5
2,2022-08-20,Sat,Away,W,3.0,0.0,Bournemouth,1.3,0.3,14.0,6.0,14.8,0.0,0.0,2023,Arsenal,1,0,6,5
3,2022-08-27,Sat,Home,W,2.0,1.0,Fulham,2.6,0.8,22.0,8.0,15.5,0.0,0.0,2023,Arsenal,1,1,18,5
4,2022-08-31,Wed,Home,W,2.0,1.0,Aston Villa,2.4,0.4,22.0,8.0,16.3,0.0,0.0,2023,Arsenal,1,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33,2001-04-28,Sat,Away,L,1.0,2.0,Everton,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2001,Bradford City,0,0,17,5
34,2001-05-01,Tue,Home,L,0.0,2.0,Liverpool,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2001,Bradford City,0,1,24,1
35,2001-05-05,Sat,Home,D,1.0,1.0,Middlesbrough,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2001,Bradford City,0,1,27,5
36,2001-05-13,Sun,Away,L,1.0,6.0,Leeds United,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2001,Bradford City,0,0,22,6
37,2001-05-19,Sat,Away,D,0.0,0.0,Coventry City,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2001,Bradford City,0,0,14,5

Dividing data into Train and Test

In [14]:
train = matches[matches["date"] < '2023-01-01']
test = matches[matches["date"] > '2023-01-01']

In [15]:
train.shape

(17048, 20)

In [16]:
test.shape

(256, 20)

In [17]:
predictors = ["venue_code", "opp_code", "day_code"]

In [18]:
grouped_matches = matches.groupby("team")

In [19]:
group = grouped_matches.get_group("Manchester City").sort_values("date")
group

,date,day,venue,result,gf,ga,opponent,xg,xga,sh,sot,dist,pk,pkatt,season,team,target,venue_code,opp_code,day_code
0,2000-08-19,Sat,Away,L,0.0,4.0,Charlton Ath,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2001,Manchester City,0,0,12,5
1,2000-08-23,Wed,Home,W,4.0,2.0,Sunderland,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2001,Manchester City,1,1,37,2
2,2000-08-26,Sat,Home,L,1.0,2.0,Coventry City,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2001,Manchester City,0,1,14,5
3,2000-09-05,Tue,Away,W,2.0,1.0,Leeds United,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2001,Manchester City,1,0,22,1
4,2000-09-09,Sat,Away,L,2.0,3.0,Liverpool,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2001,Manchester City,0,0,24,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37,2023-02-25,Sat,Away,W,4.0,1.0,Bournemouth,2.4,1.0,20.0,5.0,15.3,0.0,0.0,2023,Manchester City,1,0,6,5
39,2023-03-04,Sat,Home,W,2.0,0.0,Newcastle Utd,1.3,0.4,11.0,3.0,15.8,0.0,0.0,2023,Manchester City,1,1,28,5
40,2023-03-11,Sat,Away,W,1.0,0.0,Crystal Palace,2.1,0.2,13.0,3.0,19.0,1.0,1.0,2023,Manchester City,1,0,15,5
43,2023-04-01,Sat,Home,W,4.0,1.0,Liverpool,2.9,0.3,17.0,8.0,14.5,0.0,0.0,2023,Manchester City,1,1,24,5
44,2023-04-08,Sat,Away,W,4.0,1.0,Southampton,2.6,0.3,12.0,7.0,13.5,1.0,1.0,2023,Manchester City,1,0,35,5

In [20]:
def rolling_averages(group, cols, new_cols):
    group = group.sort_values("date")
    rolling_stats = group[cols].rolling(3, closed='left').mean()
    group[new_cols] = rolling_stats
    group = group.dropna(subset=new_cols)
    return group

In [21]:
cols = ["gf", "ga", "sh", "sot", "dist", "pk", "pkatt"]
new_cols = [f"{c}_rolling" for c in cols]

rolling_averages(group, cols, new_cols)

,date,day,venue,result,gf,ga,opponent,xg,xga,sh,...,venue_code,opp_code,day_code,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,pk_rolling,pkatt_rolling
3,2017-09-09,Sat,Home,W,5.0,0.0,Liverpool,2.4,0.7,13.0,...,1,24,5,1.666667,0.666667,17.333333,6.000000,18.566667,0.000000,0.000000
5,2017-09-16,Sat,Away,W,6.0,0.0,Watford,3.3,0.5,27.0,...,0,40,5,2.666667,0.666667,17.000000,8.000000,16.733333,0.000000,0.000000
7,2017-09-23,Sat,Home,W,5.0,0.0,Crystal Palace,4.5,0.6,25.0,...,1,15,5,4.333333,0.333333,19.666667,9.000000,15.800000,0.333333,0.333333
9,2017-09-30,Sat,Away,W,1.0,0.0,Chelsea,0.9,0.5,17.0,...,0,13,5,5.333333,0.000000,21.666667,9.333333,14.900000,0.333333,0.333333
10,2017-10-14,Sat,Home,W,7.0,2.0,Stoke City,3.8,0.5,20.0,...,1,36,5,4.000000,0.000000,23.000000,7.666667,16.233333,0.333333,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37,2023-02-25,Sat,Away,W,4.0,1.0,Bournemouth,2.4,1.0,20.0,...,0,6,5,2.333333,1.000000,16.000000,6.000000,15.166667,0.333333,0.333333
39,2023-03-04,Sat,Home,W,2.0,0.0,Newcastle Utd,1.3,0.4,11.0,...,1,28,5,2.666667,1.000000,17.333333,5.333333,15.133333,0.000000,0.000000
40,2023-03-11,Sat,Away,W,1.0,0.0,Crystal Palace,2.1,0.2,13.0,...,0,15,5,2.333333,0.666667,18.000000,4.666667,16.366667,0.000000,0.000000
43,2023-04-01,Sat,Home,W,4.0,1.0,Liverpool,2.9,0.3,17.0,...,1,24,5,2.333333,0.333333,14.666667,3.666667,16.700000,0.333333,0.333333
44,2023-04-08,Sat,Away,W,4.0,1.0,Southampton,2.6,0.3,12.0,...,0,35,5,2.333333,0.333333,13.666667,4.666667,16.433333,0.333333,0.333333

Using groupby

In [22]:
matches_rolling = matches.groupby("team").apply(lambda x: rolling_averages(x, cols, new_cols))
matches_rolling

                                 date  day venue result   gf   ga  \
team
Arsenal                 4  2017-09-09  Sat  Home      W  3.0  0.0
                        6  2017-09-17  Sun  Away      D  0.0  0.0
                        8  2017-09-25  Mon  Home      W  2.0  0.0
                        10 2017-10-01  Sun  Home      W  2.0  0.0
                        11 2017-10-14  Sat  Away      L  1.0  2.0
...                               ...  ...   ...    ...  ...  ...
Wolverhampton Wanderers 31 2023-03-04  Sat  Home      W  1.0  0.0
                        32 2023-03-12  Sun  Away      L  1.0  2.0
                        33 2023-03-18  Sat  Home      L  2.0  4.0
                        34 2023-04-01  Sat  Away      D  1.0  1.0
                        35 2023-04-08  Sat  Home      W  1.0  0.0

                                   opponent   xg  xga    sh  ...  venue_code  \
team                                                         ...
Arsenal                 4       Bournemouth  2.2  0.6  17.0  ...           1
                        6           Chelsea  1.4  0.8  11.0  ...           0
                        8         West Brom  2.2  0.9  15.0  ...           1
                        10         Brighton  2.4  0.4  25.0  ...           1
                        11          Watford  1.0  1.6   9.0  ...           0
...                                     ...  ...  ...   ...  ...         ...
Wolverhampton Wanderers 31        Tottenham  0.5  1.2   8.0  ...           1
                        32    Newcastle Utd  1.1  1.8   7.0  ...           0
                        33     Leeds United  2.7  1.6  23.0  ...           1
                        34  Nott'ham Forest  0.5  1.3   8.0  ...           0
                        35          Chelsea  0.6  1.0   9.0  ...           1

                            opp_code  day_code  gf_rolling  ga_rolling  \
team
Arsenal                 4          6         5    1.333333    2.666667
                        6         13         6    1.000000    1.666667
                        8         41         0    1.000000    1.333333
                        10         9         6    1.666667    0.000000
                        11        40         5    1.333333    0.000000
...                              ...       ...         ...         ...
Wolverhampton Wanderers 31        39         5    0.333333    1.333333
                        32        28         6    0.666667    1.000000
                        33        22         5    0.666667    1.333333
                        34        30         5    1.333333    2.000000
                        35        13         5    1.333333    2.333333

                           sh_rolling  sot_rolling  dist_rolling  pk_rolling  \
team
Arsenal                 4   17.666667     5.333333     18.133333    0.000000
                        6   14.333333     5.000000     16.766667    0.000000
                        8   12.000000     3.666667     16.566667    0.000000
                        10  14.333333     5.333333     17.400000    0.333333
                        11  17.000000     5.000000     18.333333    0.333333
...                               ...          ...           ...         ...
Wolverhampton Wanderers 31   9.000000     2.333333     14.133333    0.000000
                        32   6.666667     2.666667     16.700000    0.000000
                        33   6.333333     3.333333     17.166667    0.000000
                        34  12.666667     5.666667     18.866667    0.000000
                        35  12.666667     4.333333     17.600000    0.000000

                            pkatt_rolling
team
Arsenal                 4        0.000000
                        6        0.000000
                        8        0.000000
                        10       0.333333
                        11       0.333333
...                                   ...
Wolverhampton Wanderers 31       0.000000
                        32       0.000000
                        33       0.000000
                        34       0.000000
                        35       0.000000

[4292 rows x 27 columns]

In [23]:
matches_rolling[matches_rolling['team']=='Chelsea']

                 date  day venue result   gf   ga         opponent   xg  xga  \
team
Chelsea 4  2017-09-09  Sat  Away      W  2.0  1.0   Leicester City  0.8  1.4
        6  2017-09-17  Sun  Home      D  0.0  0.0          Arsenal  0.8  1.4
        8  2017-09-23  Sat  Away      W  4.0  0.0       Stoke City  1.4  0.8
        10 2017-09-30  Sat  Home      L  0.0  1.0  Manchester City  0.5  0.9
        11 2017-10-14  Sat  Away      L  1.0  2.0   Crystal Palace  0.8  1.7
...               ...  ...   ...    ...  ...  ...              ...  ...  ...
        35 2023-03-11  Sat  Away      W  3.0  1.0   Leicester City  1.6  2.4
        36 2023-03-18  Sat  Home      D  2.0  2.0          Everton  2.3  1.2
        37 2023-04-01  Sat  Home      L  0.0  2.0      Aston Villa  2.1  0.9
        38 2023-04-04  Tue  Home      D  0.0  0.0        Liverpool  2.2  0.3
        39 2023-04-08  Sat  Away      L  0.0  1.0           Wolves  1.0  0.6

              sh  ...  venue_code  opp_code  day_code  gf_rolling  ga_rolling  \
team              ...
Chelsea 4   16.0  ...           0        23         5    2.000000    1.333333
        6   13.0  ...           1         0         6    2.000000    0.666667
        8    7.0  ...           0        36         5    1.333333    0.333333
        10   4.0  ...           1        25         5    2.000000    0.333333
        11  15.0  ...           0        15         5    1.333333    0.333333
...          ...  ...         ...       ...       ...         ...         ...
        35  12.0  ...           0        23         5    0.333333    1.000000
        36  19.0  ...           1        17         5    1.333333    1.000000
        37  27.0  ...           1         1         5    2.000000    1.000000
        38  12.0  ...           1        24         1    1.666667    1.666667
        39  13.0  ...           0        44         5    0.666667    1.333333

           sh_rolling  sot_rolling  dist_rolling  pk_rolling  pkatt_rolling
team
Chelsea 4   15.333333     5.000000     19.100000    0.000000       0.000000
        6   14.333333     5.000000     19.000000    0.000000       0.000000
        8   15.666667     5.666667     20.500000    0.000000       0.000000
        10  12.000000     4.666667     17.933333    0.000000       0.000000
        11   8.000000     3.333333     14.766667    0.000000       0.000000
...               ...          ...           ...         ...            ...
        35  13.333333     3.000000     18.866667    0.000000       0.000000
        36  11.666667     3.666667     18.233333    0.000000       0.000000
        37  14.666667     5.000000     16.000000    0.333333       0.333333
        38  19.333333     6.333333     16.166667    0.333333       0.333333
        39  19.333333     5.000000     16.500000    0.333333       0.333333

[217 rows x 27 columns]

In [24]:
matches_rolling = matches_rolling.droplevel('team')
matches_rolling

,date,day,venue,result,gf,ga,opponent,xg,xga,sh,...,venue_code,opp_code,day_code,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,pk_rolling,pkatt_rolling
4,2017-09-09,Sat,Home,W,3.0,0.0,Bournemouth,2.2,0.6,17.0,...,1,6,5,1.333333,2.666667,17.666667,5.333333,18.133333,0.000000,0.000000
6,2017-09-17,Sun,Away,D,0.0,0.0,Chelsea,1.4,0.8,11.0,...,0,13,6,1.000000,1.666667,14.333333,5.000000,16.766667,0.000000,0.000000
8,2017-09-25,Mon,Home,W,2.0,0.0,West Brom,2.2,0.9,15.0,...,1,41,0,1.000000,1.333333,12.000000,3.666667,16.566667,0.000000,0.000000
10,2017-10-01,Sun,Home,W,2.0,0.0,Brighton,2.4,0.4,25.0,...,1,9,6,1.666667,0.000000,14.333333,5.333333,17.400000,0.333333,0.333333
11,2017-10-14,Sat,Away,L,1.0,2.0,Watford,1.0,1.6,9.0,...,0,40,5,1.333333,0.000000,17.000000,5.000000,18.333333,0.333333,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,2023-03-04,Sat,Home,W,1.0,0.0,Tottenham,0.5,1.2,8.0,...,1,39,5,0.333333,1.333333,9.000000,2.333333,14.133333,0.000000,0.000000
32,2023-03-12,Sun,Away,L,1.0,2.0,Newcastle Utd,1.1,1.8,7.0,...,0,28,6,0.666667,1.000000,6.666667,2.666667,16.700000,0.000000,0.000000
33,2023-03-18,Sat,Home,L,2.0,4.0,Leeds United,2.7,1.6,23.0,...,1,22,5,0.666667,1.333333,6.333333,3.333333,17.166667,0.000000,0.000000
34,2023-04-01,Sat,Away,D,1.0,1.0,Nott'ham Forest,0.5,1.3,8.0,...,0,30,5,1.333333,2.000000,12.666667,5.666667,18.866667,0.000000,0.000000
35,2023-04-08,Sat,Home,W,1.0,0.0,Chelsea,0.6,1.0,9.0,...,1,13,5,1.333333,2.333333,12.666667,4.333333,17.600000,0.000000,0.000000

Re-indexing the dataset to avoid mismatches

In [25]:
matches_rolling.index = range(matches_rolling.shape[0])

Creating Random Forest Classifier Model

In [26]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score
rf = RandomForestClassifier(n_estimators=50, min_samples_split=10, random_state=1)

Defining Function to make predictions

In [32]:
def make_predictions(data, predictors):
    train = data[data["date"] < '2023-01-01']
    test = data[data["date"] > '2023-01-01']
    rf.fit(train[predictors], train["target"])
    preds = rf.predict(test[predictors])
    combined = pd.DataFrame(dict(actual=test["target"], predicted=preds), index=test.index)
    error = precision_score(test["target"], preds, average='micro')
    acc = accuracy_score(test["target"], preds)
    return combined, error, acc

In [36]:
combined, prec_score, acc = make_predictions(matches_rolling, predictors + new_cols)
prec_score

0.6484375

In [35]:
acc * 100

64.84375

After the Analysis, the model gave us a precision score and accuracy of 64.84375

In [29]:
combined = combined.merge(matches_rolling[["date", "team", "opponent", "result"]], left_index=True, right_index=True)

In [30]:
combined.head(15)

     actual  predicted       date         team         opponent result
203       0          1 2023-01-03      Arsenal    Newcastle Utd      D
204       1          1 2023-01-15      Arsenal        Tottenham      W
205       1          0 2023-01-22      Arsenal   Manchester Utd      W
206       0          0 2023-02-04      Arsenal          Everton      L
207       0          1 2023-02-11      Arsenal        Brentford      D
208       0          0 2023-02-15      Arsenal  Manchester City      L
209       1          1 2023-02-18      Arsenal      Aston Villa      W
210       1          0 2023-02-25      Arsenal   Leicester City      W
211       1          0 2023-03-01      Arsenal          Everton      W
212       1          1 2023-03-04      Arsenal      Bournemouth      W
213       1          1 2023-03-12      Arsenal           Fulham      W
214       1          1 2023-03-19      Arsenal   Crystal Palace      W
215       1          1 2023-04-01      Arsenal     Leeds United      W
344       0          0 2023-01-04  Aston Villa           Wolves      D
345       1          0 2023-01-13  Aston Villa     Leeds United      W